<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.title</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-theme.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/Scripts/jquery-ui/jquery-ui-1.8.20.min.js"></script>
    <script src="~/Content/Scripts/BootStrap/bootstrap.min.js"></script>
    <link href="~/Content/Scripts/BootStrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/Scripts/layout/jquery-layout.js"></script>
    <script src="~/Content/Scripts/wdtree/tree.js"></script>
    <link href="~/Content/Scripts/wdtree/tree.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jqgrid/jqGrid.min.js" charset="gb2312"></script>
    <link href="~/Content/Scripts/jqgrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jqgrid/grid.locale-cn.js"></script>
    <link href="~/Content/css/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/Scripts/framework-ui.js"></script>
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
