@{
    ViewBag.Title = "StockManage";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/js/webUpLoader/webuploader.css" />
<script type="text/javascript" src="~/Content/js/webUpLoader/webuploader.min.js"></script>
<div class="topPanel">
    <div class="toolbar">
        <div class="operate" style="left:0;">
            <ul class="nav nav-pills">
                <li><a id="NF-downloadTemplates" authorize="yes" onclick="btn_signBackPOList(true)"><i class="fa fa-check"></i>下载模板</a></li>
                <li><a id="picker" style="padding:0; border:0;"><i class="fa fa-pencil-square-o"></i>选择文件</a></li>
                <li id="thelist" class="uploader-list"></li>
                <li><a id="ctlBtn"><i class="fa fa-pencil-square-o"></i>开始上传</a></li>
                <li><a id="btnSubmit" onclick="btn_submit()"><i class="fa fa-pencil-square-o"></i>提交数据</a></li>
            </ul>
            
            <a class="btn btn-primary refresh" title="重新加载" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

<script type="text/javascript">
    function getStockList(filename) {
        var $gridList = $("#gridList");
        $gridList.jqGrid('clearGridData');
        $('#po-ajax-loader').fadeIn();
        $gridList.jqGrid('setGridParam', { postData: { filename: filename, rnd: Math.random() } }).trigger('reloadGrid');
        $gridList.dataGrid({
            url: "/HuaweiOrderManage/StockManage/StockList",
            postData: { filename: filename, rnd: Math.random() },
            height: $(window).height() - 128,
            colModel: [
                { label: '供应商工厂代码', name: 'vendorFactoryCode', align: 'left', frozen: true },
                { label: '供应商物料编码', name: 'vendorItemCode', align: 'left', editable: true },
                { label: '客户代码', name: 'customerCode', align: 'left', editable: true },
                { label: '供应商子库', name: 'vendorStock', align: 'left', editable: true },
                { label: '供应商货位', name: 'vendorLocation', align: 'left', editable: true },
                {
                    label: '入库时间', name: 'stockTime', align: 'left', editable: true,
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                language: "zh-CN",//语言
                                autoclose: true,//自动关闭
                                todayBtn: "linked",//
                                format: "yyyy-mm-dd"//时间显示格式
                            });
                            $(this).click(function (e) {//选中时间后隐藏
                                $(e).parent().datepicker('hide');
                            });
                        }
                    }
                },
                { label: '供应商物料编码版本', name: 'vendorItemRevision', align: 'left', editable: true },
                { label: '库存', name: 'goodQuantity', align: 'left', editable: true },
                { label: '待检库存', name: 'inspectQty', align: 'left', editable: true },
                { label: '隔离品数量', name: 'faultQty', align: 'left', editable: true }
            ],
            pager: "#gridPager",
            multiselect: true,
            rowNum: 20,
            rowList: [15, 20, 50],
            autoScroll: true,
            shrinkToFit: true,
            viewrecords: true,
            gridComplete: function () {
                $('#po-ajax-loader').fadeOut();
                $("input[type='checkbox']").removeClass('checkbox');
            },
            onCellSelect: function (rowid, iCol, cellcontent, e) {
                var ids = $("#gridList").jqGrid("getGridParam", "selarrrow");
                if ($.inArray(rowid, ids) >= 0) {
                    //$("#choseNum").html(ids.length - 1);
                    //$("#gridList").jqGrid('saveRow', rowid, saveParameters);
                    //$gridList.jqGrid('setCell', rowid, 'promiseDate', '', 'not-editable-cell');
                }
                else {
                    $("#gridList").editRow(rowid, true);
                    $("input[role=textbox]").removeClass("form-control").addClass("changebox");
                    //$("#" + rowid + "_vendorItemCode").removeClass("form-control").addClass("changebox");
                }
            },
            onPaging: function (pgButton) {
                $('#po-ajax-loader').fadeIn();
            }
        });
        jQuery("#gridList").jqGrid('setFrozenColumns');
    }

    function btn_submit() {
        var ids = $("#gridList").jqGrid('getGridParam', 'records');

        var vendorFactoryCode = new Array();
        var vendorItemCode = new Array();
        var customerCode = new Array();
        var vendorStock = new Array();
        var vendorLocation = new Array();
        var stockTime = new Array();
        var vendorItemRevision = new Array();
        var goodQuantity = new Array();
        var inspectQty = new Array();
        var faultQty = new Array();

        for (var i = 0; i < ids; i++) {
            var rowData = $("#gridList").jqGrid("getRowData", i + 1);
            vendorFactoryCode[i] = rowData.vendorFactoryCode;
            vendorItemCode[i] = rowData.vendorItemCode;
            customerCode[i] = rowData.customerCode;
            vendorStock[i] = rowData.vendorStock;
            vendorLocation[i] = rowData.vendorLocation;
            stockTime[i] = rowData.stockTime;
            vendorItemRevision[i] = rowData.vendorItemRevision;
            goodQuantity[i] = rowData.goodQuantity;
            inspectQty[i] = rowData.inspectQty;
            faultQty[i] = rowData.faultQty;
        }
        vendorFactoryCode = vendorFactoryCode.join("*");
        vendorItemCode = vendorItemCode.join("*");
        customerCode = customerCode.join("*");
        vendorStock = vendorStock.join("*");
        vendorLocation = vendorLocation.join("*");
        stockTime = stockTime.join("*");
        vendorItemRevision = vendorItemRevision.join("*");
        goodQuantity = goodQuantity.join("*");
        inspectQty = inspectQty.join("*");
        faultQty = faultQty.join("*");
        $.modalConfirm("您确定要提交这些备货信息么？", function (r) {
            if (r) {
                $.submitForm({
                    url: "/HuaweiOrderManage/StockManage/ImportInventory",
                    param: { vendorFactoryCode: vendorFactoryCode, vendorItemCode: vendorItemCode, customerCode: customerCode, vendorStock: vendorStock, vendorLocation: vendorLocation, stockTime: stockTime, vendorItemRevision: vendorItemRevision, goodQuantity: goodQuantity, inspectQty: inspectQty, faultQty: faultQty },
                    success: function (data) {
                        console.log(data);
                        $('#ajax-loader').fadeIn();
                        window.location.reload();
                    }
                })
            }
        });
    }

    /*function gridOperat(rowid, iRow, iCol, e) {
        var html = '<div style="display:inline-block;margin-right:10px;" onclick="addRow(' + iRow.rowId + ')" title="插入"><span class="fa fa-plus"></span></div>'
    		+ '<div style="display:inline-block;margin-right:10px;"  onclick="delRow(' + iRow.rowId + ')" title="删除"><span class="fa fa-trash-o"></span></div>'
    		+ '<div style="display:inline-block;margin-right:10px;"  onclick="goodsTree(' + iRow.rowId + ')" title="点击选择商品"><span class="fa  fa-reorder"></span></div>';
        return html;
    }

    //增加行
    function addRow(rowid) {
        console.log(rowid);
        var newid = parseInt(rowid) + 1;
        var rowid = parseInt(rowid);
        var rowData = {
            vendorFactoryCode: "",
            vendorItemCode: '',
            customerCode: '',
            vendorStock: '',
            vendorLocation: '',
            stockTime: '',
            vendorItemRevision: '',
            goodQuantity: '',
            inspectQty: '',
            faultQty: '',
            actions1: ''
        };
        insertRow(newid, rowData, rowid);
    }
    //插入行
    function insertRow(newid, rowData, rowid) {
        $('#gridList').jqGrid('addRowData', newid, rowData, 'after', rowid);//插入行
        var ids = $("#jqGrid").jqGrid('getDataIDs');//获取行总数
        if (rowid < ids.length - 1) {
            var j = i = parseInt(rowid) + 1;
            $('#gridList tr').eq(i).nextAll().each(function () {
                j++;
                $(this).attr("id", j);
                var sx = $(this).children().eq(1);
                sx.find("div[title='插入']").attr('onclick', 'addRow(' + j + ')');
                sx.find("div[title='删除']").attr('onclick', 'delRow(' + j + ')');
                sx.find("div[title='点击选择商品']").attr('onclick', 'goodsTree(' + j + ')');

            });
        }
    }

    //删除行
    function delRow(rowid) {
        var jqdata = $("#gridList").jqGrid("getRowData");
        if (jqdata.length > 1) {
            $('#gridList').jqGrid('delRowData', rowid);
            var ids = $("#gridList").jqGrid('getDataIDs');//获取行总数
            if (rowid < ids.length || rowid == ids.length) {
                var j = i = parseInt(rowid) - 1;
                $('#gridList tr').eq(i).nextAll().each(function () {
                    j++;
                    $(this).attr("id", j);
                    var sx = $(this).children().eq(1);
                    sx.find("div[title='插入']").attr('onclick', 'addRow(' + j + ')');
                    sx.find("div[title='删除']").attr('onclick', 'delRow(' + j + ')');
                    sx.find("div[title='点击选择商品']").attr('onclick', 'goodsTree(' + j + ')');
                });
            }
            //countTotal();
        }
    }*/

    var GUID = WebUploader.Base.guid();//一个GUID
    var filename = "";

    $(function () {
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: false,
            // swf文件路径
            swf: '~/Content/js/webUpLoader/Uploader.swf',

            // 文件接收服务端。
            server: '/HuaweiOrderManage/StockManage/FileUpload',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#picker',

            chunked: true,//开始分片上传
            chunkSize: 2048000,//每一片的大小
            formData: {
                guid: GUID //自定义参数，待会儿解释
            },
            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false
        });
        // 当有文件被添加进队列的时候
        uploader.on('fileQueued', function (file) {
            $("#thelist").html('');
            $("#thelist").append('<span id="' + file.id + '" class="item">' +
                    '<h4 class="info">' + file.name + '</h4>' +
                    '<p class="state">等待上传...</p>' +
                '</span>');
        });

        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
            $percent = $li.find('.progress .progress-bar');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<div class="progress progress-striped active">' +
                  '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                  '</div>' +
                '</div>').appendTo($li).find('.progress-bar');
            }

            $li.find('p.state').text('上传中');

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {
            $('#' + file.id).find('p.state').text('已上传');
            $.post('/HuaweiOrderManage/StockManage/Merge', { guid: GUID, fileName: file.name }, function (data) {
                //console.log(data.finalName);
                getStockList(data.finalName);
                $("#thelist .state").html("上传成功...");
            });
            uploader.reset();
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            $('#' + file.id).find('p.state').text('上传出错');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').fadeOut();
        });

        //所有文件上传完毕
        uploader.on("uploadFinished", function () {
            //提交表单
        });
        //开始上传
        $("#ctlBtn").click(function () {
            uploader.upload();
        });
        getStockList(filename);
    });
</script>

