@{
    ViewBag.Title = "StockManage";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/js/webUpLoader/webuploader.css" />
<script type="text/javascript" src="~/Content/js/webUpLoader/webuploader.min.js"></script>
<div class="topPanel">
    <div class="toolbar">
        <div class="operate" style="left:0;">
            <ul class="nav nav-pills">
                <li><a id="NF-downloadTemplates" authorize="yes" onclick="btn_download()"><i class="fa fa-file-excel-o"></i>下载模板</a></li>
                <li><a id="picker" style="padding:0; border:0;"><i class="fa fa-file"></i>选择文件</a></li>
                <li id="thelist" class="uploader-list"></li>
                <li><a id="btnUpdata"><i class="fa fa-arrow-up"></i>文件上传</a></li>
                <li><a id="btnUploading"><i class="fa fa-arrow-up"></i>提交华为</a></li>
                @*<li><a id="btnSubmit" onclick="getStockList(true)"><i class="fa fa-circle-o-notch"></i>查询历史数据</a></li>*@
            </ul>
            
            <a class="btn btn-primary refresh" title="重新加载" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
    </div>
</div>
<div id="po-ajax-loader" style="top:85px;">
    <img src="~/Content/img/ajax-loader.gif" />
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

<script type="text/javascript">
    var lastsel;
    var HWPONUM_iRow = null, HWPONUM_iCol = null;

    function btn_download() {
        $.download("/HuaweiOrderManage/StockManage/DownloadTemplate", 'post');
    }

    function getStockList(history) {
        var $gridList = $("#gridList");
        $gridList.jqGrid('clearGridData');
        $('#po-ajax-loader').fadeIn();
        $gridList.jqGrid('setGridParam', { postData: { history: history } }).trigger('reloadGrid');
        $gridList.dataGrid({
            url: "/HuaweiOrderManage/StockManage/GetStockJson",
            postData: { history: history },
            height: $(window).height() - 128,
            colModel: [
                { label: '我司工厂代码', name: 'vendorFactoryCode', width: 100, align: 'left', frozen: true },
                { label: '我司物料编码', name: 'vendorItemCode', width: 100, align: 'left', editable: true },
                { label: '我司物料编码版本', name: 'vendorItemRevision', width: 120, align: 'left', editable: true },
                { label: '华为代码', name: 'customerCode', width: 80, align: 'left', editable: true },
                {
                    label: '是否协议备货', name: 'agreementStocking', width: 60, align: 'left', editable: true, edittype: 'select', editoptions: {
                        value: "Y:Y; N:N"
                    }
                },
                { label: '我司物料子库', name: 'vendorStock', width: 80, align: 'left', editable: true },
                { label: '我司物料货位', name: 'vendorLocation', width: 80, align: 'left', editable: true },
                {
                    label: '入库时间', name: 'stockTime', width: 80, align: 'left', editable: true,
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' },
                    editoptions: {
                        dataInit: function (element) {
                            $(element).datepicker({
                                language: "zh-CN",//语言
                                autoclose: true,//自动关闭
                                todayBtn: "linked",//
                                format: "yyyy-mm-dd"//时间显示格式
                            });
                            $(this).click(function (e) {//选中时间后隐藏
                                $(e).parent().datepicker('hide');
                                //$gridList.jqGrid("saveCell", HWPONUM_iRow, HWPONUM_iCol);
                            });
                        }
                    }
                },
                { label: '库存', name: 'goodQuantity', width: 60, align: 'left', editable: true },
                { label: '待检库存', name: 'inspectQty', width: 60, align: 'left', editable: true },
                { label: '隔离品数量', name: 'faultQty', width: 60, align: 'left', editable: true },
                { label: '是否成功', name: 'success', width: 60, align: 'left' },
                { label: '失败原因', name: 'errorMessage', width: 350, align: 'left' },
                { label: '上传时间', name: 'F_CreateTime', width: 120, align: 'left' }
            ],
            pager: "#gridPager",
            rowNum: -1,
            rowList: [10, 20, 50],
            autoScroll: true,
            viewrecords: true,
            cellEdit: true,
            cellsubmit: "clientArray",
            gridComplete: function () {
                $('#po-ajax-loader').fadeOut();
                $("input[type='checkbox']").removeClass('checkbox');
            },
            beforeEditCell: function (rowid, cellname, value, iRow, iCol) {
                HWPONUM_iRow = iRow;
                HWPONUM_iCol = iCol;
            },
            afterEditCell: function (rowid, cellname, value, iRow, iCol) {
                $("input[role=textbox]").css({ "padding": "2px 0", "height": "26px" });
                $("select").css({ "padding": "2px 0", "height": "26px" });
            },
            onPaging: function (pgButton) {
                $('#po-ajax-loader').fadeIn();
            }
        });
        jQuery("#gridList").jqGrid('setFrozenColumns');
    }

    function btn_uploading() {
        var $gridList = $("#gridList");
        $gridList.jqGrid("saveCell", HWPONUM_iRow, HWPONUM_iCol);

        var rowDate = $gridList.jqGrid('getRowData');
        var allCountID = $gridList.jqGrid('getDataIDs'); //这里获取所有行 主键id 是全的
        rowDate.push($gridList.jqGrid('getRowData', allCountID[allCountID.length - 1]));  //单独用最后一个 ID 获取行数据 并 追加到 集合里
        var list = JSON.stringify(rowDate);
        //console.log(JSON.stringify(rowDate));
        if (list == '[[]]') {
            $.modalAlert('当前无数据，请上传附件后提交', 'warning');
        } else {
            $('#po-ajax-loader').fadeIn();
            $.submitForm({
                url: "/HuaweiOrderManage/StockManage/HuaweiBack",
                param: { list: list },
                success: function (data) {
                    $('#po-ajax-loader').fadeOut();
                    getStockList(false);
                }
            });
        }
    }

    /*function gridOperat(rowid, iRow, iCol, e) {
        var html = '<div style="display:inline-block;margin-right:10px;" onclick="addRow(' + iRow.rowId + ')" title="插入"><span class="fa fa-plus"></span></div>'
    		+ '<div style="display:inline-block;margin-right:10px;"  onclick="delRow(' + iRow.rowId + ')" title="删除"><span class="fa fa-trash-o"></span></div>'
    		+ '<div style="display:inline-block;margin-right:10px;"  onclick="goodsTree(' + iRow.rowId + ')" title="点击选择商品"><span class="fa  fa-reorder"></span></div>';
        return html;
    }

    //增加行
    function addRow(rowid) {
        console.log(rowid);
        var newid = parseInt(rowid) + 1;
        var rowid = parseInt(rowid);
        var rowData = {
            vendorFactoryCode: "",
            vendorItemCode: '',
            customerCode: '',
            vendorStock: '',
            vendorLocation: '',
            stockTime: '',
            vendorItemRevision: '',
            goodQuantity: '',
            inspectQty: '',
            faultQty: '',
            actions1: ''
        };
        insertRow(newid, rowData, rowid);
    }
    //插入行
    function insertRow(newid, rowData, rowid) {
        $('#gridList').jqGrid('addRowData', newid, rowData, 'after', rowid);//插入行
        var ids = $("#jqGrid").jqGrid('getDataIDs');//获取行总数
        if (rowid < ids.length - 1) {
            var j = i = parseInt(rowid) + 1;
            $('#gridList tr').eq(i).nextAll().each(function () {
                j++;
                $(this).attr("id", j);
                var sx = $(this).children().eq(1);
                sx.find("div[title='插入']").attr('onclick', 'addRow(' + j + ')');
                sx.find("div[title='删除']").attr('onclick', 'delRow(' + j + ')');
                sx.find("div[title='点击选择商品']").attr('onclick', 'goodsTree(' + j + ')');

            });
        }
    }

    //删除行
    function delRow(rowid) {
        var jqdata = $("#gridList").jqGrid("getRowData");
        if (jqdata.length > 1) {
            $('#gridList').jqGrid('delRowData', rowid);
            var ids = $("#gridList").jqGrid('getDataIDs');//获取行总数
            if (rowid < ids.length || rowid == ids.length) {
                var j = i = parseInt(rowid) - 1;
                $('#gridList tr').eq(i).nextAll().each(function () {
                    j++;
                    $(this).attr("id", j);
                    var sx = $(this).children().eq(1);
                    sx.find("div[title='插入']").attr('onclick', 'addRow(' + j + ')');
                    sx.find("div[title='删除']").attr('onclick', 'delRow(' + j + ')');
                    sx.find("div[title='点击选择商品']").attr('onclick', 'goodsTree(' + j + ')');
                });
            }
            //countTotal();
        }
    }*/

    var GUID = WebUploader.Base.guid();//一个GUID
    var filename = "";

    $(function () {
        var uploader = WebUploader.create({
            // 选完文件后，是否自动上传。
            auto: false,
            // swf文件路径
            swf: '~/Content/js/webUpLoader/Uploader.swf',

            // 文件接收服务端。
            server: '/HuaweiOrderManage/StockManage/FileUpload',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '#picker',

            chunked: true,//开始分片上传
            chunkSize: 2048000,//每一片的大小
            formData: {
                guid: GUID //自定义参数，待会儿解释
            },
            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false
        });
        // 当有文件被添加进队列的时候
        uploader.on('fileQueued', function (file) {
            $("#thelist").html('');
            $("#thelist").append('<span id="' + file.id + '" class="item">' +
                    '<h4 class="info">' + file.name + '</h4>' +
                    '<p class="state">等待上传...</p>' +
                '</span>');
        });

        // 文件上传过程中创建进度条实时显示。
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
            $percent = $li.find('.progress .progress-bar');

            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<div class="progress progress-striped active">' +
                  '<div class="progress-bar" role="progressbar" style="width: 0%">' +
                  '</div>' +
                '</div>').appendTo($li).find('.progress-bar');
            }

            $li.find('p.state').text('上传中');

            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {
            $('#' + file.id).find('p.state').text('已上传');
            $('#po-ajax-loader').fadeIn();
            $.post('/HuaweiOrderManage/StockManage/Merge', { guid: GUID, fileName: file.name }, function (data) {
                if (data == "1") {
                    $("#thelist .state").html("上传成功...");
                    getStockList(false);
                } else {
                    $("#thelist .state").html("上传失败...");
                    $.modalMsg("上传文件错误，请重新上传" + data, "error");
                    console.log(data);
                    $('#po-ajax-loader').fadeOut();
                }
            });
            uploader.reset();
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file) {
            $('#' + file.id).find('p.state').text('上传出错');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress').fadeOut();
        });

        //所有文件上传完毕
        uploader.on("uploadFinished", function () {
            //提交表单
        });
        //开始上传
        $("#btnUpdata").click(function () {
            uploader.upload();
        });
        $('#po-ajax-loader').fadeOut();

        $("#btnUploading").click(function () {
            btn_uploading();
        });
    });
</script>

