@{
    ViewBag.Title = "Cancel";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        getPoList();
    });

    function getPoList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/HuaweiOrderManage/FindPOList/PostPOList",
            postData: { poStatusValue: "huaweiNotifyCancelOrder" },
            height: $(window).height() - 128,
            colModel: [
                {
                    label: '订单号', name: 'poNumber', width: 100, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return "<a onclick=\"viewDetails('" + cellvalue + "','" + rowObject.poLineNum + "')\" style='cursor:pointer;color:blue;'>" + cellvalue + "</a>";
                    }
                },
                { label: '订单', name: 'poLineNum', width: 30, align: 'left' },
                { label: '编码', name: 'itemCode', width: 70, align: 'left' },
                { label: '描述', name: 'itemDescription', width: 450, align: 'left' },
                { label: '需求数量', name: 'quantity', width: 80, align: 'left' },
                { label: '已收货数量', name: 'quantityReceived', width: 80, align: 'left', hidden: true },
                {
                    label: '下发日期', name: 'publishDate', width: 120, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i:s', newformat: 'Y-m-d H:i:s' }
                },
                {
                    label: '承诺日期', name: 'promiseDate', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                { label: '币种', name: 'currencyCode', width: 50, align: 'left' },
                { label: '单价', name: 'priceOverride', width: 50, align: 'left' },
                { label: '数量', name: 'quantity', width: 50, align: 'left' },
                {
                    label: '小计', name: 'totalPrice', width: 50, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return rowObject.quantity * rowObject.priceOverride;
                    }
                },
                { label: '单位', name: 'unitOfMeasure', width: 50, align: 'left' },
                { label: '收货地点', name: 'shipToLocation', width: 550, align: 'left' },
                { label: '采购员', name: 'agentName', width: 250, align: 'left' },
                { label: '备注', name: 'remark', width: 200, align: 'left' }
            ],
            pager: "#gridPager",
            multiselect: true,
            rowNum: 18,
            rowList : {},
            autoScroll: true,
            autowidth: true,
            viewrecords: true,
            gridComplete: function () {
                $('#ajax-loader').fadeOut();
                $("input[type='checkbox']").removeClass('checkbox');
            },
            onCellSelect: function (rowid, iCol, cellcontent, e) {
                var ids = $("#gridList").jqGrid("getGridParam", "selarrrow");
                if ($.inArray(rowid, ids) >= 0) {
                    $("#choseNum").html(ids.length - 1);
                }
                else {
                    $("#choseNum").html(ids.length + 1);
                }
            },
            onSelectAll: function (aRowids, status) {
                var ids = $("#gridList").jqGrid("getGridParam", "selarrrow");
                $("#choseNum").html(ids.length);
            },
            onPaging: function (pgButton) {
                $("#choseNum").html(0);
                $('#ajax-loader').fadeIn();
            }
        });
    }

    function btn_signBackPOList(flag) {
        var operateType;
        var message;
        if (flag) {
            operateType = "accept";
            message = "注： 您确定要【接受】这些待取消订单吗？";
        } else {
            operateType = "reject";
            message = "注： 您确定要【驳回】这些待取消订单吗？";
        }
        var ids = $("#gridList").jqGrid("getGridParam", "selarrrow");
        ids = ids.join("#");
        $.modalConfirm(message, function (r) {
            if (r) {
                $.submitForm({
                    url: "/HuaweiOrderManage/FindPOList/SignBackPOList",
                    param: { ids: ids, operateType: operateType, types: "CancelPOList" },
                    success: function () {
                        $('#ajax-loader').fadeIn();
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                    }
                })
            }
        });
    }

    function viewDetails(poNumber, poLineNum) {
        $.modalOpen({
            id: "Details",
            title: "订单详细信息",
            url: "/HuaweiOrderManage/FindPOList/PODetails?poNumber=" + poNumber + "&poLineNum=" + poLineNum + "&types=CancelPOList",
            width: "700px",
            height: "550px",
            btn: null,
        });
    }
</script>
<div id="ajax-loader">
    <img src="~/Content/img/ajax-loader.gif" />
</div>
<div class="topPanel">
    <div class="search">
        <span>华为待取消PO列表</span>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">华为待取消PO列表</li>
                <li class="first">已选中<span id="choseNum">0</span>项</li>
                <li><a id="NF-signBackPOList" authorize="yes" onclick="btn_signBackPOList(true)"><i class="fa fa-check"></i>PO签返（接受）</a></li>
                <li><a id="NF-signBackPOList" authorize="yes" onclick="btn_signBackPOList(false)"><i class="fa fa-reply"></i>PO签返（驳回）</a></li>
            </ul>
            <a class="btn btn-primary refresh" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
            <a href="javascript:;" class="close"></a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
