@{
    ViewBag.Title = "ChangeDetails";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var poNumber = $.request("poNumber");
    var poLineNum = $.request("poLineNum");
    var types = $.request("types");
    $(function () {
        $.ajax({
            url: "/HuaweiOrderManage/FindPOList/FindColTask",
            data: { poNumber: poNumber, poLineNum: poLineNum, types: types },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,input').attr('readonly', 'readonly');
            }
        });
    });
</script>
<form id="form1">
    <div style="margin: 10px 10px 0 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">变更明细</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">PO号</th>
                    <td class="formValue">
                        <input id="poNumber" name="poNumber" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">PO行号</th>
                    <td class="formValue">
                        <input id="poLineNum" name="poLineNum" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">变更字段</th>
                    <td class="formValue">
                        <input id="changeColumnName" name="changeColumnName" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">变更理由</th>
                    <td class="formValue">
                        <input id="openRemark" name="openRemark" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">变更前内容</th>
                    <td class="formValue" colspan="3">
                        <input id="changePreContent" name="changePreContent" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">变更后内容</th>
                    <td class="formValue" colspan="3">
                        <input id="changeAfterContent" name="changeAfterContent" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="memo" name="memo" class="form-control" style="height: 60px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
