@{
    ViewBag.Title = "ChangeDetails";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        $.ajax({
            url: "/HuaweiOrderManage/FindPOList/FindColTask",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $('#ajax-loader').fadeOut();
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,input').attr('readonly', 'readonly');
            }
        });
    });
</script>
<div id="ajax-loader">
    <img src="~/Content/img/ajax-loader.gif" />
</div>
<div class="topPanel">
    <div class="search">
        <span>华为新PO列表</span>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">华为新PO列表</li>
                <li class="first">已选中<span id="choseNum">0</span>项</li>
                <li><a id="NF-signBackPOList" authorize="yes" onclick="btn_signBackPOList(true)"><i class="fa fa-pencil-square-o"></i>PO签返（接受）</a></li>
                <li><a id="NF-signBackPOList" authorize="yes" onclick="btn_signBackPOList(false)"><i class="fa fa-pencil-square-o"></i>PO签返（驳回）</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
