@{
    ViewBag.Title = "POBoard";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/bootStrap/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="~/Content/js/bootStrap/bootstrap-select.min.css" />
<script>
    var searchParam = "";
    $(function () {
        getPOBoard("");

        $(".table-hover tr").on('click', function () {
            var dataHref = "/HuaweiOrderManage/FindPOList/News";
            var dataId = "2bcb1fef-78f4-4a44-a0b8-4a0355d78a7a";
            var dataName = "PO列表";
            searchParam = $("#poNumber").val() + "*" + $("#itemCode").val() + "*" + $("#promiseDateStart").val() + "*" + $("#promiseDateEnd").val() + "*" + $("#publishDateStart").val() + "*" + $("#publishDateEnd").val() + "*" + $("#shipmentStatus").val() + "*";
            var dataParam = $(this).find('a').data("param") + "&POParams=" + searchParam;
            parent.window.newIframe(dataId, dataHref, dataName, dataParam);
        });

        $(".time").datepicker({
            language: "zh-CN",//语言
            autoclose: true,//自动关闭
            todayBtn: "linked",//
            format: "yyyy-mm-dd",//时间显示格式
        });

        $("#po-reset").on("click", function () {
            $("#poNumber, #itemCode, #promiseDateStart, #promiseDateEnd, #publishDateStart, #publishDateEnd, #shipmentStatus").val("");
        });

        $("#po-search").on("click", function () {
            searchParam = $("#poNumber").val() + "*" + $("#itemCode").val() + "*" + $("#promiseDateStart").val() + "*" + $("#promiseDateEnd").val() + "*" + $("#publishDateStart").val() + "*" + $("#publishDateEnd").val() + "*" + $("#shipmentStatus").val() + "*";
            console.log(searchParam);
            getPOBoard(searchParam);
        });
    });

    function getPOBoard(params) {
        $.ajax({
            url: "/HuaweiOrderManage/FindPOList/FindPOBoard",
            data: { searchParam: params },
            dataType: "json",
            async: false,
            success: function (data) {
                $('#ajax-loader').fadeOut();
                $("#newOrderQuantity").html(data.newOrderQuantity);                                                         //新订单
                $("#changedOrderQuantity").html(data.changedOrderQuantity);                                                 //内容变更通知
                $("#cancelOrderQuantity").html(data.cancelOrderQuantity);                                                   //订单取消通知
                $("#deliveryTimeChangedOrderQuantity").html(data.deliveryTimeChangedOrderQuantity);                         //订单交期修改
                $("#cancelledToConfirmedOrderQuantity").html(data.cancelledToConfirmedOrderQuantity);                       //订单取消确认
                $("#deliveryTimeChangedPendingOrderQuantity").html(data.deliveryTimeChangedPendingOrderQuantity);           //待华为确认交期更改
                $("#vendorApplyQtyChangeOrderQuantity").html(data.vendorApplyQtyChangeOrderQuantity);                       //待华为确认数量变更
                $("#vendorApplyCancelOrderQuantity").html(data.vendorApplyCancelOrderQuantity);                             //待华为确认取消
                $("#rmaBarterOrderQuantity").html(data.rmaBarterOrderQuantity);                                             //RMA换货订单
                $("#before_signe_back").html(data.newOrderQuantity + data.changedOrderQuantity + data.cancelOrderQuantity + data.deliveryTimeChangedOrderQuantity + data.cancelledToConfirmedOrderQuantity + data.deliveryTimeChangedPendingOrderQuantity + data.vendorApplyQtyChangeOrderQuantity + data.vendorApplyCancelOrderQuantity + data.rmaBarterOrderQuantity)  //待接收数量

                $("#intransitOrderQuantity").html(data.intransitOrderQuantity);                                             //在途订单
                $("#closed4Receving").html(data.closed4Receving);                                                           //已接受未关闭
                $("#cancelledOrderQuantity").html(data.cancelledOrderQuantity);                                             //订单已取消
                $("#closedOrderQuantity").html(data.closedOrderQuantity);                                                   //订单已关闭
                $("#signed_back").html(data.intransitOrderQuantity + data.closed4Receving + data.cancelledOrderQuantity + data.closedOrderQuantity);    //已接受PO数量

                $("#expiredOrderQuantity").html(data.expiredOrderQuantity);                                                 //新订单超三天未处理
                $("#arrivalOnWeekOrderQuantity").html(data.arrivalOnWeekOrderQuantity);                                     //预计两周内到货
                $("#nonDeliveryOrderQuantity").html(data.nonDeliveryOrderQuantity);                                         //下单六个月未交货
                $("#overdueOrderQuantity").html(data.overdueOrderQuantity);                                                 //过期订单
                $("#warn").html(data.expiredOrderQuantity + data.arrivalOnWeekOrderQuantity + data.nonDeliveryOrderQuantity + data.overdueOrderQuantity);
            }
        });
    }
</script>
<div id="ajax-loader">
    <img src="~/Content/img/ajax-loader.gif" />
</div>
<a class="btn btn-primary refresh" style="position:absolute; top: 10px; right: 20px;" title="重新加载" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>

    <div >
        <table class="table table-bordered bgWhite">
            <tr>
                <td class="col-md-3 before-signe-back">
                    <table class="table table-hover">
                        <tr class="first-tr">
                            <td class="col-md-6 first-td">待接受</td>
                            <td class="col-md-6 first-td">
                                <a id="before_signe_back" class="POboardTotalnum" name="before_signe_back" href="javascript:void(0)" data-param="Second=待接受&Third=ALL">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">新订单</td>
                            <td class="col-md-6">
                                <a id="newOrderQuantity" class="POboardnum" name="newOrderQuantity" href="javascript:void(0)" data-param="Second=待接受&Third=新订单">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">订单交期修改</td>
                            <td class="col-md-6">
                                <a id="deliveryTimeChangedOrderQuantity" class="POboardnum" name="deliveryTimeChangedOrderQuantity" href="javascript:void(0)" data-param="Second=待接受&Third=订单交期修改">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">订单取消确认</td>
                            <td class="col-md-6">
                                <a id="cancelledToConfirmedOrderQuantity" class="POboardnum" name="cancelledToConfirmedOrderQuantity" href="javascript:void(0)" data-param="Second=待接受&Third=订单交期修改">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">内容变更通知</td>
                            <td class="col-md-6">
                                <a id="changedOrderQuantity" class="POboardnum" name="changedOrderQuantity" href="javascript:void(0)" data-param="Second=待接受&Third=内容变更通知">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">订单取消通知</td>
                            <td class="col-md-6">
                                <a id="cancelOrderQuantity" class="POboardnum" name="cancelOrderQuantity" href="javascript:void(0)" data-param="Second=待接受&Third=订单取消通知">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">待华为确认交期更改</td>
                            <td class="col-md-6">
                                <a id="deliveryTimeChangedPendingOrderQuantity" class="POboardnum" name="deliveryTimeChangedPendingOrderQuantity" href="javascript:void(0)" data-param="Second=待接受&Third=待华为确认交期更改">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">待华为确认数量变更</td>
                            <td class="col-md-6">
                                <a id="vendorApplyQtyChangeOrderQuantity" class="POboardnum" name="vendorApplyQtyChangeOrderQuantity" href="javascript:void(0)" data-param="Second=待接受&Third=待华为确认数量变更">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">待华为确认取消</td>
                            <td class="col-md-6">
                                <a id="vendorApplyCancelOrderQuantity" class="POboardnum" name="vendorApplyCancelOrderQuantity" href="javascript:void(0)" data-param="Second=待接受&Third=待华为确认取消">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">RMA换货订单通知</td>
                            <td class="col-md-6">
                                <a id="rmaBarterOrderQuantity" class="POboardnum" name="rmaBarterOrderQuantity" href="javascript:void(0)" data-param="Second=待接受&Third=RMA换货订单">0</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="col-md-3 signed_back">
                    <table class="table table-hover">
                        <tr class="first-tr">
                            <td class="col-md-6 first-td">已接受</td>
                            <td class="col-md-6 first-td">
                                <a id="signed_back" class="POboardTotalnum" name="signed_back" href="javascript:void(0)" data-param="Second=已接受&Third=ALL">0</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">在途订单</td>
                            <td class="col-md-6">
                                <a id="intransitOrderQuantity" class="POboardnum" name="intransitOrderQuantity" href="javascript:void(0)" data-param="Second=已接受&Third=在途订单">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">已交货未关闭</td>
                            <td class="col-md-6">
                                <a id="closed4Receving" class="POboardnum" name="closed4Receving" href="javascript:void(0)" data-param="Second=已接受&Third=已交货未关闭">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">取消订单</td>
                            <td class="col-md-6">
                                <a id="cancelledOrderQuantity" class="POboardnum" name="cancelledOrderQuantity" href="javascript:void(0)" data-param="Second=已接受&Third=取消订单">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">关闭订单</td>
                            <td class="col-md-6">
                                <a id="closedOrderQuantity" class="POboardnum" name="closedOrderQuantity" href="javascript:void(0)" data-param="Second=已接受&Third=关闭订单">0</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="col-md-3 warn">
                    <table class="table table-hover">
                        <tr class="first-tr">
                            <td class="col-md-6 first-td">预警</td>
                            <td class="col-md-6 first-td"><span id="warn" class="POboardTotalnum">0</span></td>
                        </tr>
                        <tr>
                            <td class="col-md-6">新订单超三天未处理</td>
                            <td class="col-md-6">
                                <a id="expiredOrderQuantity" class="POboardnum" name="expiredOrderQuantity" href="javascript:void(0)" data-param="Second=预警&Third=新订单超三天未处理">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">预计两周内到货</td>
                            <td class="col-md-6">
                                <a id="arrivalOnWeekOrderQuantity" class="POboardnum" name="arrivalOnWeekOrderQuantity" href="javascript:void(0)" data-param="Second=预警&Third=预计两周内到货">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">下单六个月未交货</td>
                            <td class="col-md-6">
                                <a id="nonDeliveryOrderQuantity" class="POboardnum" name="nonDeliveryOrderQuantity" href="javascript:void(0)" data-param="Second=预警&Third=下单六个月未交货">0</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6">过期订单</td>
                            <td class="col-md-6">
                                <a id="overdueOrderQuantity" class="POboardnum" name="overdueOrderQuantity" href="javascript:void(0)" data-param="Second=预警&Third=过期订单">0</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="col-md-3 searchBoard">
                    <table class="table">
                        <tr class="first-tr">
                            <td class="col-md-3 first-td">查询</td>
                            <td class="col-md-9 first-td"></td>
                        </tr>
                        <tr>
                            <td class="col-md-3" style="padding: 10px 0 0 20px;">PO号</td>
                            <td class="col-md-9" style="padding: 2px 0 0 0;">
                                <input type="text" placeholder="多个请以','隔开" class="form-control" id="poNumber" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3" style="padding: 10px 0 0 20px;">Item编码</td>
                            <td class="col-md-9" style="padding: 2px 0 0 0;">
                                <input type="text" placeholder="多个请以','隔开" class="form-control" id="itemCode" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3" style="padding: 10px 0 0 20px;">承诺日期</td>
                            <td class="col-md-9" style="padding: 2px 0 0 0;">
                                <input type="text" class="form-control time" style="display:inline-block; width:90px;" id="promiseDateStart" />-
                                <input type="text" class="form-control time" style="display:inline-block; width:90px;" id="promiseDateEnd" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3" style="padding: 10px 0 0 20px;">订单下达日期</td>
                            <td class="col-md-9" style="padding: 2px 0 0 0;">
                                <input type="text" class="form-control time" style="display:inline-block; width:90px;" id="publishDateStart" />-
                                <input type="text" class="form-control time" style="display:inline-block; width:90px;" id="publishDateEnd" />
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3" style="padding: 10px 0 0 20px;">订单状态</td>
                            <td class="col-md-9" style="padding: 2px 0 0 0;">
                                <select class="selectpicker" multiple id="shipmentStatus">
                                    <option value="all" selected>ALL</option>
                                    <option value="NEW">新下订单</option>
                                    <option value="OPEN">在途订单</option>
                                    <option value="CANCELLED">取消订单</option>
                                    <option value="CLOSED">关闭订单</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6"><button class="form-control btn-primary" id="po-search">查询</button></td>
                            <td class="col-md-6"><button class="form-control" id="po-reset">重置</button></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class="remark">
            <ul>
                <li><i class="fa fa-circle"></i>&nbsp;&nbsp;</li>
            </ul>
        </div>
    </div>


