@{
    ViewBag.Title = "Warning";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        getPoList("");
        $('#ajax-loader').fadeOut();
    });

    function getPoList(POurl) {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: POurl,
            height: $(window).height() - 128,
            colModel: [
                { label: '订单号', name: 'poNumber', width: 100, align: 'left' },
                { label: '订单行号', name: 'poLineNum', width: 50, align: 'left' },
                { label: '编码', name: 'itemCode', width: 80, align: 'left' },
                { label: '描述', name: 'itemDescription', width: 350, align: 'left' },
                { label: '数量', name: 'needQuantity', width: 80, align: 'left' },
                { label: '下发日期', name: 'publishDate', width: 80, align: 'left' },
                { label: '收货地点', name: 'shipToLocation', width: 350, align: 'left' },
                { label: '有效日期', name: 'expireDate', width: 80, align: 'left' },
                { label: '采购员', name: 'agentName', width: 80, align: 'left' },
                { label: '备注', name: 'remark', width: 200, align: 'left' }
            ],
            pager: "#gridPager",
            multiselect: true,
            rowNum: 100,
            autoScroll: true,
            viewrecords: true,
            gridComplete: function () {
                $('#ajax-loader').fadeOut();
                $("input[type='checkbox']").removeClass('checkbox');
            }
        });
    }

</script>
<div id="ajax-loader">
    <img src="~/Content/img/ajax-loader.gif" />
</div>
<div class="topPanel">
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
                <td style="padding-left: 10px;">
                    <div id="time_horizon" class="btn-group">
                        <a class="btn btn-default active" data-value="过期PO">过期PO</a>
                        <a class="btn btn-default" data-value="订单超三天未处理">订单超三天未处理</a>
                        <a class="btn btn-default" data-value="下单六个月未交货">下单六个月未交货</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
